[submodule "ThirdParty/EASTL"]
	path = ThirdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "ThirdParty/EABase"]
	path = ThirdParty/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "ThirdParty/EAMain"]
	path = ThirdParty/EAMain
	url = https://github.com/electronicarts/EAMain.git
[submodule "ThirdParty/EAAssert"]
	path = ThirdParty/EAAssert
	url = https://github.com/electronicarts/EAAssert.git
[submodule "ThirdParty/EAStdC"]
	path = ThirdParty/EAStdC
	url = https://github.com/electronicarts/EAStdC.git
[submodule "ThirdParty/EAThread"]
	path = ThirdParty/EAThread
	url = https://github.com/electronicarts/EAThread.git
[submodule "ThirdParty/angelscript-mirror"]
	path = ThirdParty/angelscript-mirror
	url = https://github.com/codecat/angelscript-mirror.git
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/DLSS"]
	path = ThirdParty/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "ThirdParty/Streamline"]
	path = ThirdParty/Streamline
	url = https://github.com/NVIDIAGameWorks/Streamline.git
